* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Monaco, 'Courier New', monospace;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #707070;
    background-image: url("/img/wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{  
    background-color: rgb(128, 128, 128);
    border: .2rem solid black;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    padding: 10px;
    gap: 10px;
}

#display{
    grid-column: 1 / -1;
    padding: 1rem;
    background-color: rgb(59, 59, 59);
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: .2rem solid black;
    color: #7793c5;
}

#zero{
    grid-column: span 2;
}

.key {
   
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid #000000;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    transition: all 0.3s ease;
}

.pressed {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.number {
    background-color: #3c663b;
}

.misc {
    background-color: #262657;
}

.operator {
    background-color: #816412;
}

