* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #707070;
}

.calculator{
    width: 540px;
    height: 700px;
    background-color: rgb(83, 11, 11);
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    
}

#display{
    width: 100%;
    height: 90px;
    
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    color: white;
}

#keyspace{
    align-items: center;
}

.key {
    border: .4rem solid black;
    
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 5rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1rem black;
}

.pressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}